[wiki]
mediawiki=/apache/common
allwikislist=/apache/common/all.dblist
privatewikislist=/apache/common/private.dblist
closedwikislist=/apache/common/closed.dblist

[output]
wikiqueriesdir=/a/imageinfo
temp=/a/imageinfo/tmp
fileperms=0644

[database]
user=wikiadmin
password=XXXXXX

[tools]
php=/usr/bin/php
mysql=/usr/bin/mysql
gzip=/bin/gzip
bzip2=/bin/bzip2
multiversion=/apache/common/multiversion/MWScript.php

[query]
queryfile=/a/imagescripts/query.sql
