By default, all configuration options are read from the file "dumpincr.conf" in the current directory.
A different filename may be specified at run time.

The following configuration options are accepted:

In the "wiki" section,
mediawiki        -- full path to the directory of the MediaWiki installation
allwikislist     -- full path to a list of all projects to be dumped, as they appear in MySql
privatewikislist -- full path to a list of all projects that are private and hence should not be dumped, if any
closedwikislist  -- full path to a list of all projects that are closed and hence should not be dumped, if any
adminsettings    -- path relative to the directory specified for 'mediawiki', to the php file where $wgDBadminuser
                    and $wgDBadminpassword or $wgDBuser and $wgDBpassword are defined, typically
                    AdminSettings.php or LocalSettings.php

In the "output" section,
wikiqueriesdir   -- full path to the top level directory where the query result files will be written
temp             -- full path to a directory which is used to the generation of temporary files
fileperms        -- read and write permissions that will be assigned to created files; this is in octal four-digit
                    format, for example 0644

In the "database" section,
user     -- the name of a database user with read access to all tables in the databases
            which will be dumped
password -- the password for the above user
These can be omitted if you set 'adminsettings' in the "wiki" section as described above.

In the "tools" section,
php               -- the full path to the php command
mysql             -- the full path to the mysql command
gzip              -- the full path to the gzip command
bzip2             -- the full path to the bzip2 command

In the "query" section,
queryfile         -- the full path to the file containing the mysql query to run on all wikis
