Configuration file documentation

===How to run using a given configration file

The configuration file for monitor, worker, monitor.py and worker.py is
called wikidump.conf by default.  To specify a different configuration
file, supply it as an argument on the command line as follows:

For monitor:

monitor name-of-config-file-here

For worker:

worker name-of-config-file-here

For monitor.py:

python monitor.py name-of-config-file-here

For worker.py:

python worker.py [other-options] --configfile name-of-config-file-here wikidbname-here

===Structure of a configuration file

Each section of the configuration file starts with a name in brackets, with 
no leading spaces. For example:

[wiki]

This would introduce the options related to the wikis that are processed.

The following sections are recognized and must be present, even if no 
configuration options are provided for the section:

wiki, output, reporting, database, tools, cleanup, chunks

FIXME
Of these, the sections wiki, .. and chunks are mandatory and must have entries.

===Wiki section

The wiki section accepts the following configuration options:

dblist -- File with list of all databases for which dumps will be generated
       	       Default value: none
skipdblist -- ... except for the ones in this file. (This is a bit odd;
	        why not just list the ones you want and be done with it? 
	   	Because the WMF list is generated automatically and used
	  	for other things, so it is not feasible to remove dbs
	   	from it by hand and still keep it in sync as new projects 
	   	are created.)
       	       Default value: none
privatelist -- File with list of databases which should have dumps produced 
	        that are put in the "private" dirctory.  At WMF this means 
		wikis that are not publically readable by the world.
       	       Default value: none
flaggedrevslist -- File with list of databases which have flagged revisions 
		enabled.  (Really, we should be able to determine this 
		another way instead of keeping a separate list, right?)
wikidatalist    -- File with list of databases which act as a wikibase
		repo. For Wikimedia projects this currently consists
		of the project 'wikidata'.
biglist -- File with list of large wikis for which no history dumps are 
	   	generated because they are too huge. (This must be an old 
		deprecated option; these days we do not care how big they 
		are, we dump them anyways.)
       	       Default value: none
dir -- Full path to the root directory of the MediaWiki installation for which
       	    	 dumps are produced.  This assumes one installation for 
		 multiple wikis, nd therefore one LocalSettings.php or 
		 equivalent that covers all the projects. At WMF this is done
		 by having the files InitialiseSetttings.php and 
		 CommonSettings.php which have various if stanzas depending
		 on what it enabled on specific projects.
       	       Default value: none
forcenormal -- Geez, I have no idea what this does. Maybe we can toss it.
       	       Default value: 0
halt -- what does this do?
     	       Default value: 0

Of those options, the following are required:
...


=== Output section
public -- full path to directory under which all dumps will be created, 
       	       in subdirectories named for the name of the database 
	       (wikiproject) being dumped, in subdirectories by date
       	       Default value: /dumps/public
private -- full path to directory under which all dumps of private wikis
      	       and all private tables will be created, in subdirs by project
      	       name and underneath that in subdirs by date, similar to the
      	       public dumps
       	       Default value: /dumps/private
temp -- full path to directory under which temporary files will be created;
      	       this should not be the same as the public or private directory.
       	       Default value: /dumps/temp
index -- name of the top-level index file for all projects that is 
      	       automatically created by the monitoring process
       	       Default value: index.html
webroot -- url to root of the web directory which serves the public files (this
	       is simply the web url that gets people to the content in the "public"
	       directory defined earlier)
       	       Default value: http://localhost/dumps
templatedir -- directory in which various template files such as those for mail or 
	       error reports, rss feed updates or the per-project-and-date html files 
	       are found
       	       Default value: home
perdumpindex -- name of the index file created for a dump for a given project
      	       on a given date
       	       Default value: index.html

The above options do not have to be specified in the config file, 
since default values are provided.

=== Reporting section
adminmail -- email address to which to send error reports; if set to 'nomail'
	     (case insensitive value), then email notification will not be
	     sent under any circumstances
       	       Default value: root@localhost
mailfrom -- email address from which we pretend to send error reports
	    (shows up in the From: line)
       	       Default value: root@localhost
smtpserver --FQDN of smtp server for sending error reports via email
       	       Default value: localhost
staleage --how many seconds a lock file from a dump run can be lying
	       around without updating of the status file for that run,
	       until the lock file is considered "stale", i.e. that there
	       is probably no process actually running for that dump
	       any more
       	       Default value: 3600

The above options do not have to be specified in the config file, 
since default values are provided.

=== Database section
user -- user which which to connect to the db for mysqldump of tables
       	       Default value: root
password -- password for the above user
       	       Default value: ""

The above options do not have to be specified in the config file, 
since default values are provided.

=== Tools section
php -- Location of the php binary
       	       Default value: /bin/php
bzip2 -- Location of the bzip2 binary
       	       Default value: /usr/bin/bzip2
gzip2 -- this should get changed to gzip :-D  Location
      	      of the gzip binary
       	       Default value: /usr/bin/gzip
sevenzip -- Location of the 7zip binary
       	       Default value: /bin/7za
mysql -- Location of the mysql binary
       	       Default value: /usr/bin/mysql
mysqldump -- Location of the mysqldump binary
       	       Default value: /usr/bin/mysqldump
head -- Location of the head binary
       	       Default value: /usr/bin/head
tail -- Location of the tail binary
       	       Default value: /usr/bin/tail
cat -- Location of the cat binary
       	       Default value: /bin/cat
grep -- Location of the grep binary
       	       Default value:/bin/grep
checkforbz2footer -- Location of the checkforbz2footer binary
	       This is part of the mwbzutils package.
	       Default value: /usr/local/bin/checkforbz2footer		  
recompressxml -- Location of the recompressxml binary
	       Default value: /usr/local/bin/recompressxml

The above options do not have to be specified in the config file, 
since default values are provided.

=== Cleanup section
keep -- number of dumps per wiki project to keep before we start
     	       removing the oldest one each time a new one is created
       	       Default value: 3

The above option does not have to be specified in the config file, 
since a default is provided.

=== Chunks section
chunksEnabled -- buggy. set to any value to enable. Why? Because 
	      any string value counts as "true", even the value...
	      "False" :-D
       	       Default value: False
pagesPerChunkHistory
		Set to a comma separated ist of starting page ID nums
		in order to generate a set of stub files each one 
		starting from the next pageID.
		Example:
		pagesPerChunkHistory=5000,5000,100000,100000
		This would generate four chunks, containing:
		1 to 5000, 5001 through 10000, 10001 through 110000, 
		110001 through end
		Alternatively you can provide one number in which case
		the job will be split into chunks each containing that
		number of pages. Example:
		pagesPerChunkHistory=50000
		This will generate a number of chunks with pages from
		1 through 50000, 50001 through 100000, 100001 through 
		150000, and so on.
       	       Default value: False
revsPerChunkHistory -- currently disabled, do not use!
       	       Default value: False
pagesPerChunkAbstract -- as pagesPerChunkHistory but for the abstract 
		generation phase
       	       Default value: False
checkpointTime -- save checkpoints of files containing revision text
		(articles, metacurrent, metahistory dumps)
		every checkpointTime minutes.  This involves closing
		the current output file, renaming it to a filename
		which includes in the filename the first and last page
		written, and opening a new file for the next portion
		of the XML output.  This can be useful if you want
		to produce a large number of smaller files as input
		to XML-crunching scripts, or if you are dumping 
		a very large wiki which has a tendency to fail 
		somewhere in the middle (*cough*en wikipedia*cough*).
       	       Default value: 0 (no checkpoints produced)

The above options do not have to be specified in the config file, 
since default values are provided.

=== Other formats section (i.e.: [otherformats])
multistream -- set this to a non-zero integer to enable multistream
                compression of pages-articles.
       	       Default value: 0 (no multistream files produced)

The above options do not have to be specified in the config file, 
since default values are provided.
