# sample configuration file

[wiki]
dblist=/home/ariel/src/mediawiki/testing/backup/all.dblist
skipdblist=/home/ariel/src/mediawiki/testing/backup/skip.dblist
privatelist=/home/ariel/src/mediawiki/testing/backup/private.dblist
flaggedrevslist=/home/ariel/src/mediawiki/testing/backup/flagged.dblist
wikidatalist=/home/ariel/src/mediawiki/testing/backup/wikidata.dblist
biglist=/home/ariel/src/mediawiki/testing/backup/big.dblist
dir=/home/ariel/src/mediawiki/1.16wmf4/phase3
forcenormal=1

[output]
public=/home/ariel/src/mediawiki/testing/dumps/public
private=/home/ariel/src/mediawiki/testing/dumps/private
index=backup-index.html
webroot=http://localhost/mydumps

[reporting]
staleage=3600
# set this to 'nomail' to disable email notification on dump failure
adminmail=dumpsadmin@myhost.com
mailfrom=root@localhost
smtpserver=smtp.myisp.com

[database]
user=root
password=""

[tools]
php=/usr/bin/php
mysql=/usr/bin/mysql
mysqldump=/usr/bin/mysqldump
gzip=/usr/bin/gzip
bzip2=/usr/bin/bzip2
sevenzip=/usr/bin/7za
checkforbz2footer=/usr/local/bin/checkforbz2footer		  
recompressxml=/usr/local/bin/recompressxml

[cleanup]
keep=10

[chunks]
chunksEnabled=True
pagesPerChunkHistory=10000,50000,50000,50000,50000
pagesPerChunkAbstract=100000,100000
