# sample configuration file

[wiki]
dblist=/home/ariel/src/mediawiki/testing/backup/all.dblist
skipdblist=/home/ariel/src/mediawiki/testing/backup/skip.dblist
privatelist=/home/ariel/src/mediawiki/testing/backup/private.dblist
flowlist=/home/ariel/src/mediawiki/testing/backup/flow.dblist
dir=/home/ariel/src/mediawiki/1.16wmf4/phase3
tablejobs=/home/ariel/srv/mediawiki/testing/backup/tablejobs.yaml

[output]
public=/home/ariel/src/mediawiki/testing/dumps/public
private=/home/ariel/src/mediawiki/testing/dumps/private
temp=/home/ariel/src/mediawiki/testing/dumps/temp
index=backup-index.html
webroot=http://localhost/mydumps
templatedir=/home/ariel/src/mediawiki/testing/dumps/templs

[reporting]
staleage=3600
# set this to 'nomail' to disable email notification on dump failure
adminmail=dumpsadmin@myhost.com
mailfrom=root@localhost
smtpserver=smtp.myisp.com

[database]
user=root
password=""
max_allowed_packet=32M

[tools]
php=/usr/bin/php
mysql=/usr/bin/mysql
mysqldump=/usr/bin/mysqldump
gzip=/usr/bin/gzip
bzip2=/usr/bin/bzip2
sevenzip=/usr/bin/7za
checkforbz2footer=/usr/local/bin/checkforbz2footer		  
recompressxml=/usr/local/bin/recompressxml

[cleanup]
keep=10

[chunks]
chunksEnabled=1
pagesPerChunkHistory=10000,50000,50000,50000,50000
pagesPerChunkAbstract=100000,100000

[otherformats]
multistream=1

[elwikt]
dir=/var/www/html/elwikt
