[wiki]
mediawiki=/home/wmf/mediawiki/1.18
allwikislist=/home/wmf/conf/all.dblist
privatewikislist=/home/wmf/conf/private.dblist
closedwikislist=/home/wmf/conf/closed.dblist
skipwikislist=/home/wmf/conf/skip.dblist

[output]
wikiqueriesdir=/home/wmf/output/files
temp=/var/tmp
fileperms=0644

[database]
user=dbadmin
password=XXXXX

[tools]
php=/usr/bin/php
mysql=/usr/bin/mysql
gzip=/usr/bin/gzip
bzip2=/usr/bin/bzip2

[query]
queryfile=/home/wmf/scripts/query.sql
