By default, all configuration options are read from the file "dumpincr.conf" in the current directory.
A different filename may be specified at run time.

The following configuration options are accepted:

In the "wiki" section,
mediawiki        -- full path to the directory of the MediaWiki installation
allwikislist     -- full path to a list of all projects to be dumped, as they appear in MySql
privatewikislist -- full path to a list of all projects that are private and hence should not be dumped, if any
closedwikislist  -- full path to a list of all projects that are closed and hence should not be dumped, if any
		 
In the "output" section,
incrementalsdir  -- full path to the top level directory where adds/changes dumps will be written; this should
                    be web-accessible
templatedir      -- full path to the directory containing template html files such as incrs-index.html (typically
                    the same directory as that which contains the dump scripts)
temp             -- full path to a directory which is used to the generation of temporary files; this should
                    not be web-accessible
webroot          -- url to top level directory with the main index page, for example http://localhost/mydumps
fileperms        -- read and write permissions that will be assigned to created files; this is in octal four-digit
                    format, for example 0644
delay            -- for runs on a current date, number of seconds older than the start of the run that revisions
                    must be, in order to be recorded.
                    for runs on an older date specified as an argument to the script, number of seconds older than
                    that date at 23:59 UTC.

In the "database" section,
user     -- the name of a database user with read access to all tables in the databases 
            which will be dumped
password -- the password for the above user

In the "tools" section, 
php               -- the full path to the php command
mysql             -- the full path to the mysql command
gzip              -- the full path to the gzip command
bzip2             -- the full path to the bzip2 command
checkforbz2footer -- the full path to the checkforbz2footer command
writeuptopageid   -- the full path to the writeuptopageid command

In the "cleanup" section,
keep -- the number of old dumps to keep, per project.
